/*Переход при двойном нажатии на строке в таблице*/
    .clickable-row {
        cursor: pointer;
    }
/*************************************************/

body {
    background: url("image/body_background.jpg") repeat;
}

p.btn_add {
    text-align: center;
}
html, body, .main_container {
    height: 100%;
}
p.btn_add a {
    font-size: 40px;
    color: #5cb85c;
}

p.btn_add a:hover, p.btn_add a:focus, p.btn_add a.focus {
    color: #6bca6b;
    text-decoration: none;
}

.tool_type_book:active, .tool_type_book:hover {
    text-decoration: none;
}

.book_edit:hover {
    color: #5cb85c;
}
.book_details:hover {
    color: #b8b55c;
}
.book_delete:hover {
    color: #b85c5c;
}

.main_col_header {
    padding: 0;
}
.navbar {
    border-radius: 0px;
}
.main_container {
    background-color: #D7D7D7;
}
.form_input {
    background-color: #CCCED7;
    border: 1px solid #BFB5D5;
    padding-top: 10px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
